$icon-font-path: '../fonts/';

// bower:scss
//@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/Materialize/sass/materialize.scss";
// endbower

html, body{
  height: 100%;
}

body {
  background: #f5f2f0;
}

.container {
  background: #fff;
}

.tab-container {
  padding-top: 20px;
  overflow: auto;
  width: 80%;
  margin: auto;
}

@media #{$medium-and-down} {
  .tab-container {
    width: 90%;
  }
}

nav {
  padding: 0px 10px;
  //background: color("cyan", "lighten-1");
}

nav.sub-nav {
  background: transparent;
  box-shadow: none;
  padding: 0;
}

nav.sub-nav .brand-logo {
  color: #000;
}

nav.sub-nav .btn-floating i {
  line-height: 37px;
}

.profileSelect {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.profileSelect .card-panel {
  padding: 0;
}

.profileSelect .card-panel .collection .collection-item.avatar {
  padding-left: 10px;
}

.dailyStats {
  text-align: center;
}

.dailyStats .statsHeading {
  font-weight: 200;
}

.dailyStats div.breadcrumb {
  line-height: 30px;
  display: inline-block;
}

.dailyStats div.breadcrumb:before {
  color: #000;
}

.statsForm {
  width: 70%;
  margin: auto;
  padding: 20px 0;
}

.statsForm .skip-btn {
  color: #aaa;
  padding-top: 10px;
  display: block;
}

.statsForm input {
  text-align: center;
}

.collection .collection-item:not(.active):hover {
    background-color: #eee;//color("cyan", "lighten-2");
}

.statsView .pagination {
  text-align: center;
}

.statsView .pagination li {
  padding: 0 20px;
}

.statsView .pagination li a {
  text-transform: capitalize;
  cursor: pointer;
}

.statsView .collapsible-header .btn-floating {
  float: right;
  margin-top: 3px;
}

.statsView .collapsible-header .btn-floating i {
  line-height: inherit;
  width: inherit;
}

i.red-icon {
  color: red;
}

i.green-icon {
  color: green;
}

.card .card-top {

  display: block;
  min-height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
  color: #999;

  .top-left {
    display: inline-block;
  }

  .top-right {
    float: right;
  }

  i {
    font-size: 1.6rem;
    line-height: 3rem;
    float: left;
    margin-right: 1rem;
  }
  
  .measure {
    text-transform: capitalize;
  }

}

.card .card-music .col {
  text-align: center;
}

.card .card-music p:first-child {
  margin-top: 0;
}

.card .card-body  {
  padding: 10px;

  .card-header {
    padding: 0 1rem;
    text-align: center;
    font-size: 24px;

}

  .card-image {
    margin: 10px -10px 0 -10px;
  }

  .card-content {
    overflow: auto;

    ul li {
      list-style-type: initial;
      margin: 0 30px;
    }

    blockquote {
      font-style: italic;
      margin: 0;
    }

    p {
      margin: 1em 0;
    }

    p:first-child {
      margin-top: 0;
    }

  }
}

.modal .measureOption, .modal .goalOption {
  text-transform: capitalize;
}

.modal .modalBtnContainer {
  text-align: center;
  padding: 10px;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.loader-screen {
  height: 500px;
}

.loader-screen .preloader-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;
}








/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
